*{
  padding:0;
  margin:0;
  
}

.game-container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  position: relative;
}

.info-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.clickable-div {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  position: absolute;
}
